.jumbotron h2 {
	text-align: center;
	font-family: 'Concert One', cursive;
	font-size: 3em;
	color: #615B37;
}

.jumbotron h1 {
	text-align: center;
	font-family: 'Concert One', cursive;
	font-size: 5em;
	color: #615B37;
}
.data-vis	{
	border: 1px dotted #615B37;
	width: 990px;
	height: 350px;
	background-color: white;
	margin-bottom: 10px;
}

.medium-alert {
	color: orange;
}

.low-alert {
	color: yellow;
}

.jumbotron {
	background-image: url("../images/banner.png ");
	background-repeat: none;
	padding: 20px;
}

body {
	font-family: lato;
	background-color: #ECECEC;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	font-family: 'Concert One', cursive;
	font-size: 2em;
	color: #615B37;
	padding-top: 0
}

.btn-group-vertical, .list-group {
	border-radius: 50px;
}

tr.success td {
	font-weight: bold;
}

.fa-arrow-circle {
	color: #615B37;
}

table.dashboard {
	background-color: white;
	margin-top: -130px;
}

.primary {
	background: #615B37;
	color: white;
}

table.upgrade tr td {
font-size: 1.5em;

}
button.upgrade {
	background-color: yellow;
	border-radius: 20px;
}

.savings {
	color: green;
	font-size: 4em;
}

.score {
	color: blue;
	font-size: 4em;
}
